@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background: #000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  color: #e5e5e5;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  z-index: -2;
  color: #f6f6f6;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.nav {
  position: absolute;
  right: 0;
  height: 100vh;
  top: 0;
  width: 100%;
  background-color: #909497;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  text-transform: capitalize;
  z-index: 0;

  a {
    color: #e5e5e5;
    font-size: 2.3rem;
    display: inline-block;
    padding: 0.3em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    letter-spacing: 2px;

    &:before,
    &:after {
      position: absolute;
      content: "";
      border-bottom: 2.5px solid #e5e5e5;
      border-radius: 1em;
      bottom: 0.3em;
      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:before {
      width: 1em;
      transform-origin: left;
    }

    &:after {
      width: 82%;
      left: 1em;
      transform: translateX(110%);
    }

    &:hover:before {
      transform: scaleX(0.3);
    }

    &:hover:after {
      transform: translateX(0);
    }
  }
}

.burger div {
  width: 1.563rem;
  height: 0.188rem;
  background: #f6f6f6;
  margin: 0.313rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  z-index: 999999;
}

// Hero section
.hero {
  height: 100vh;
  .hero-container {
    .hero-content {
      color: #f6f6f6;
      h1 {
        font-size: 4rem;
        margin-top: 1.8em;
        line-height: 3.5rem;
        margin-bottom: 0;
        font-weight: 400;
      }

      p {
        font-size: 1.7rem;
        margin-top: 1rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.683);
        font-family: "Open-Sans", sans-serif;
      }
    }
  }
}

.down-arrow {
  stroke: #fff;
  position: absolute;
  bottom: 2em;
  left: 2.5em;
  width: 1em;
  z-index: -2;

  animation: moveArrow 1s alternate infinite;

  path {
    fill: #fff;
  }
}

.projects {
  margin-bottom: 10rem;
  h1 {
    color: #e5e5e5;
    font-size: 3rem;
    font-weight: 400;
  }

  p {
    color: #e5e5e5c7;
    font-family: "Open-Sans", sans-serif;
    line-height: 1.5;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
  }

  img {
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(0.98);
    }
  }

  .link {
    a {
      margin: 0 0.7rem 0 0;
    }
  }
}

.blog {
  margin-bottom: 10rem;

  h1 {
    font-size: 3rem;
    color: #e5e5e5;
  }

  img {
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(0.98);
    }
  }
}

.about {
  margin-bottom: 10rem;

  h1 {
    color: #e5e5e5;
    font-size: 3rem;
    font-weight: 400;
  }

  p {
    color: #e5e5e5;
    font-family: "Open-Sans", sans-serif;
    line-height: 1.5;
  }

  .about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }
}

.footer {
  height: 70vh;
  h1 {
    color: #e5e5e5;
  }

  p {
    color: #e5e5e5;
    font-family: "Open-Sans", sans-serif;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 4rem;

    .footer-content {
      form {
        width: 100%;

        input,
        textarea {
          padding: 0.7rem;
          background: transparent;
          outline: none;
          border: none;
          width: 100%;
          color: #e5e5e5;
          padding-bottom: 0.7rem;
          font-size: 0.8rem;
          font-weight: 300;
          border-bottom: 0.125rem solid rgba(255, 255, 255, 0.5);
          resize: none;
        }

        textarea {
          height: 6.25rem;
        }

        input[type="submit"] {
          background-color: #fff;
          padding: 0.5rem;
          width: 7.25rem;
          cursor: pointer;
          color: #000;
          font-size: 1rem;
          font-weight: 400;
          border: none;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #909497;
          }
        }
      }
    }
  }

  .social-media {
    margin-top: 1rem;

    .fa-twitter {
      margin-left: 0;

      &:hover {
        color: #1da1f2;
      }
    }

    .fa-instagram {
      &:hover {
        color: #bc2a8d;
      }
    }

    .fa-linkedin {
      &:hover {
        color: #0e76a8;
      }
    }

    i {
      margin: 0 1rem;
      font-size: 1.4rem;
      transition: all 0.3s ease-in-out;
    }
  }
}

.nav-active {
  transform: translateX(0);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#myBtn {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  border-radius: 10%;
  background: #e5e5e5;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 99;

  &:hover {
    background-color: #909497;
  }

  i {
    color: #000;
    font-size: 1.3rem;
  }
}

.hidden {
  opacity: 0;
}

@media only screen and (min-width: 850px) {
  #myBtn {
    right: 3rem;
  }
  .burger {
    display: none;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 1.7rem;
      font-size: 1.2rem;
      color: #e5e5e5;
    }
  }

  .nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
    flex-direction: row;
  }

  .down-arrow {
    stroke: #fff;
    position: absolute;
    bottom: 10em;
    right: 1.5em;
    width: 1em;
    z-index: -2;

    animation: moveArrow 1s alternate infinite;

    path {
      fill: #fff;
    }
  }
  .hero {
    .hero-container {
      .hero-content {
        color: #f6f6f6;
        h1 {
          font-size: 5rem;
          margin-top: 2.4em;
          line-height: 4.3rem;
          margin-bottom: 0;
          font-weight: 400;
        }

        p {
          font-size: 1.7rem;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.683);
        }
      }
    }
  }
  .down-arrow {
    left: 1.3rem;
    bottom: 1rem;
  }
  .footer {
    height: 50vh;
  }
}

@media only screen and (min-width: 1000px) {
  .down-arrow {
    left: 8.4em;
  }

  #myBtn {
    right: 3rem;
  }
}

// Animations

@keyframes moveArrow {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.6s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

// More projects

.more{
  display: none;

}

.more-projects{
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  button{
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  border-radius:10px;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  font-family: "Open-Sans", sans-serif;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #909497;
  }

  }
}
